<section class="form-section">
  <div class="form">
    <div class="form-wrapper" [formGroup]="form">
      <div class="">
        <mat-form-field color="primary">
          <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field>
          <input formControlName="phone" matInput placeholder="Phone">
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field>
          <input formControlName="password" matInput placeholder="Password">
        </mat-form-field>
      </div>
    </div>
    <div class="send-btn">
      <!-- <button mat-raised-button  routerLink="/result/{{name}}/{{phone}}" color="primary">Send</button>-->
      <button mat-raised-button
              routerLink="/result"
              [queryParams]="{'name': name, 'phone': phone, 'email': email, 'password': password}"
              color="primary">Send
      </button>
    </div>
  </div>
</section>
